<alert></alert>
<div class="exam-pic">
    <label for="file">Choose Exam</label>
    <input type="file"
           id="file"
           (change)="handleExamPic($event.target.files[0])">
</div>
<div class="template-pic">
    <label for="file">Choose Template</label>
    <input type="file"
           id="file"
           (change)="handleTemplatePic($event.target.files[0])">
</div>
<button (click)="scanExam()" class="match-template">Scan Exam</button>
<button (click)="foo()" class="match-template">just for fun</button>
<div *ngIf="result">
    <img id="result" [src]='result'/>
    <div *ngIf="!doneEditing">
      <button (click)="edit()">Edit</button>
    </div>
  </div>
  

<div><button (click)="goBack()">Back</button></div>